.command-social {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  & > &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__item {
    width: 44px;
    height: 44px;
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: $social-command-color;
    color: $fill-icon;
    /*transition-property: fill, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill $animation, background-color $animation;*/
    @include transit(fill);
    @include transit(background-color);
  }

  &__link:hover,
  &__link:focus {
    fill: $white-text-color;
    background-color: $accent-text-color;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}
