.header {
  position: relative;
  //top: 0;
  //left: 0;
  //z-index: 2;

  width: 100%;
  min-height: 60px;
  background-color: $white-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid $border-bottom-heder;
  .container {
    display: flex;
    align-items: center;
    box-sizing: content-box;
  }

  &__menu {
    z-index: 10;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $main-text-color;
    fill: currentColor;
    padding: 0;
    margin-left: auto;
    @include transit(color);

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__menu:hover,
  &__menu:focus {
    color: $accent-text-color;
  }

  &__menu .icon-close {
    display: none;
  }

  &__menu.is-open .icon-close {
    display: block;
  }
  &__menu.is-open .icon-menu {
    display: none;
  }
  .menu-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    background-color: $white-text-color;
    box-shadow: $menu-shadow;

    z-index: 3;

    &.is-open {
      display: block;
    }
  }
}

.menu-container {
  &__site {
    display: flex;
    flex-direction: column;
    margin-bottom: 302px;
  }
  &__site > &__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: $main-text-color;
    @include transit(color);
  }
  &__site .menu-link:hover,
  &__site .menu-link:focus {
    color: $accent-text-color;
  }

  &__contact {
    margin-bottom: 64px;
  }
  .menu-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;

    letter-spacing: 0.02em;

    color: $accent-text-color;
    margin-bottom: 32px;
  }
  .menu-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: $secondary-text-color;
  }
  &__social {
    display: flex;
    align-items: baseline;
    &-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;

      letter-spacing: 0.02em;

      color: $accent-text-color;
    }
  }
  &__social-line {
    border-left: 1px solid $verticl-line-color;
    height: 22px;
  }

  &__social-link:not(:last-child) {
    margin-right: 10px;
  }
  /*&__social-text:not(:last-child) {
    margin-right: 10px;
  }*/
}

.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .nav-studio {
    font-family: $sec-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $logstudio-color;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 0;
    @media screen and (min-width: 768px) {
      margin-right: 80px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }
  .nav-web {
    color: $accent-text-color;
  }
  .nav-site {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  .nav-site > .nav-item:not(:last-child) {
    margin-right: 50px;
  }

  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;

    color: $main-text-color;

    /*transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: color $animation;*/
    @include transit(color);
  }
  .nav-site .nav-link:hover,
  .nav-site .nav-link:focus {
    color: $accent-text-color;
  }

  .nav-site .nav-link.current {
    color: $accent-text-color;
  }
  .nav-item {
    position: relative;
  }
  .actions::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -1px;

    background-color: $accent-text-color;
    border-radius: 2px;
  }
}

.contact {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;

    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }
  &-item {
    color: $secondary-text-color;
  }

  &-link {
    display: flex;

    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    color: $secondary-text-color;
    fill: $fill-icon;
    /*transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: color $animation;*/
    @include transit(color);
  }

  .mail {
    margin-bottom: 10px;
  }
  &-link:focus,
  &-link:hover {
    color: $accent-text-color;
  }

  &-link > .color-icon {
    color: $social-command-color;
  }
  &-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  &-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}
