.modal {
  position: absolute;
  width: calc(100% - 30px);
  height: auto;
  min-height: 590px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  /*transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
  transition: transform $animation;
  //@include transit(transform);
  /*@media screen and (min-width: 450px) {
    width: 450px;
    height: 609px;
  }*/

  @media screen and (min-width: 449px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }

  &-button {
    position: absolute;
    top: 0;
    right: 0;
    top: 8px;
    right: 8px;
    padding: 6px;

    width: 30px;
    height: 30px;

    background-color: $white-text-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    outline: transparent;

    transition: color $animation;
    //@include transit(color);
  }

  & &-button:focus {
    color: $accent-text-color;
  }
  &-form__text {
    margin-bottom: 12px;
    font-weight: bold;
    //font-size: 20px;
    font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 450));
    line-height: 1.5;
    color: $main-text-color;
    text-align: center;
    @media screen and (min-width: 449px) {
      font-size: 20px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 20px;
      line-height: 1.15;
    }
  }
}
