.agreement {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
  margin-right: 11px;
  margin-bottom: 30px;

  &-label {
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-text-color;
    margin-left: 24px;
  }

  &-link {
    font-size: 14px;
    line-height: 1.71;

    color: $accent-text-color;
    text-decoration-skip-ink: none;
    text-decoration: underline;
  }

  &-label::after {
    display: inline-block;
    content: " ";
    position: absolute;
    left: 0;
    /*top: 50%;
    transform: translateY(-50%);*/
    @extend %translate-Y;
    width: 16px;
    height: 15px;
    border: 2px solid $main-text-color;
    border-radius: 2px;

    /*transition: background-color $animation, border $animation,
      background-image $animation, background-size $animation,
      background-origin $animation;*/
    @include transit(background-color);
    @include transit(border);
    @include transit(background-image);
    @include transit(background-size);
    @include transit(background-origin);
  }

  &-input:checked + &-label::after {
    background-image: url("../images/icon-check.svg");
    background-color: $accent-text-color;
    border: 0px;
    background-size: contain;
    background-origin: border-box;
  }

  &-input:focus + &-label::after {
    border: 2px solid $accent-text-color;
    border-radius: 2px;
  }
}
