.nav {
  display: flex;
  align-items: center;
  margin-right: auto;

  .nav-studio {
    margin-right: 93px;

    font-family: $sec-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $logstudio-color;
  }
  .nav-web {
    color: $accent-text-color;
  }
  .nav-site {
    display: flex;
  }

  .nav-site > .nav-item:not(:last-child) {
    margin-right: 50px;
  }

  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;

    color: $main-text-color;

    /*transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: color $animation;*/
    @include transit(color);
  }
  .nav-site .nav-link:hover,
  .nav-site .nav-link:focus {
    color: $accent-text-color;
  }

  .nav-site .nav-link.current {
    color: $accent-text-color;
  }
  .nav-item {
    position: relative;
  }
  .actions::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -1px;

    background-color: $accent-text-color;
    border-radius: 2px;
  }
}
