/* ПОРТФОЛИО */

/* Фильтр работ */

.filter {
  padding-top: 94px;
  padding-bottom: 94px;

  &-work > &-link:not(:last-child) {
    margin-right: 8px;
  }

  &-work {
    margin-bottom: 50px;
  }

  &-work {
    justify-content: center;
  }

  &-button {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    background-color: $bg-command-color;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: $main-text-color;
    /*transition-property: fill, background-color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transition: color $animation, background-color $animation,
      box-shadow $animation;*/
    @include transit(color);
    @include transit(background-color);
    @include transit(box-shadow);
  }

  &-work &-button:hover,
  &-work &-button:focus {
    background-color: $accent-text-color;
    color: $white-text-color;
    box-shadow: $box-shadow-filter-button;
  }
}
