.section-command {
  background-color: $bg-command-color;
  width: 100%;

  &__block {
    background-color: $white-text-color;
    box-shadow: $box-shadow-bloc-command;
  }

  &__title > &__block:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    &__title {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  &__block {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 8 * 15px) / 4);
      margin: 15px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__employee {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__name {
    margin-bottom: 10px;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: $main-text-color;
  }

  &__specialty {
    text-align: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: $secondary-text-color;
  }
}
