.section-work {
  &__list {
    display: flex;
  }
  &__img {
    display: block;
    width: 100%;
  }

  &__list > &__lable:not(:last-child) {
    margin-right: 30px;
  }

  &__lable {
    position: relative;
    width: 370px;
  }

  &__name {
    position: absolute;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    @extend %window-centered;

    color: $white-text-color;

    line-height: 1.14;
    font-weight: bold;
    white-space: nowrap;
  }
  &__fon {
    content: "";
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;

    background-color: $bg-lable-color;
  }
}
