$main-text-color: #212121;
$secondary-text-color: #757575;
$accent-text-color: #2196f3;
$white-text-color: #ffffff;
$footer-text-color: rgba(255, 255, 255, 0.6);
$logstudio-color: #000000;
$background-footer-hero: #2f303a;
$bg-command-color: #f5f4fa;
$border-bottom-heder: #ececec;
$border-directions-work-color: #eeeeee;
$hero-bg-color: #c4c4c4;
$social-command-color: #afb1b8;
$bg-color-social-footer: #44454e;
$box-shadow-works-link: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$box-shadow-filter-button: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$box-shadow-bloc-command: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$gradient-color: rgba(47, 48, 58, 0.4);
$fill-icon: currentColor;
$bg-lable-color: rgba(47, 48, 58, 0.8);
$bg-directions-work-color: rgba(33, 150, 243, 0.9);
$button-shadow-mail: 0px 4px 4px rgba(0, 0, 0, 0.15);
$placeholder-color: rgba(117, 117, 117, 0.5);
$main-font-family: "Roboto", sans-serif;
$sec-font-family: "Raleway", sans-serif;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
